/* You can add global styles to this file, and also import other style files */

body {
  font-family: Calibri;
  margin: 60px
}

$title-color: #393837;
$text-color: #6c6968;

@mixin typography-header {
  font-size: 30px;
  line-height: 34px;
  color: $title-color;
}

@mixin typography-text {
  font-size: 16px;
  line-height: 20px;
  color: $text-color
}
